# Data
data/raw/
data/processed/

# Models
models/

# Evaluation outputs
outputs/metrics.csv
outputs/feature_importance.csv

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
venv/
.env